h2{
    color: #6973FE;
}

h4{
    font-weight: 400
}

.subText{
    text-align: left;
    
}

.logoContainer {
    text-align: center;
    margin: 20px 0; 
 }
  
  .logo {
    width: 40px; 
    height: 40px; 
    margin: 10px; 
  }

  span{
    color: #6973FE;
  }
  
  @media (max-width: 960px) {
    .header, .footer{
      display: none;
    }

    .logo{
      display: flex;
      flex-direction: column;
      width: 30px;
      height: 30px;
      margin: 0px;
    }
  }
